/* app css stylesheet */

div[ng-view] {
  margin: 10px;
}

md-toolbar.md-table-toolbar form > input {
  width: 100%;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
}

md-toolbar.md-table-toolbar form > input:focus {
  outline: unset;
}

md-toolbar.md-table-toolbar form {
  margin-left: 16px;
}

.account-new-edit-modal {
  width: 400px;
}

md-table-container table th.center {
  text-align: center !important;
}

md-dialog-actions {
  padding-right: 24px !important;
  padding-bottom: 12px;
}


/* md-toast.md-success-toast-theme .md-toast-content {
  background-color: rgb(63,81,181);
} */

md-toast.md-error-toast-theme .md-toast-content {
  background-color: rgb(244,67,54);
}

