/* app css stylesheet */

div[ng-view] {
  margin: 10px;
}

md-toolbar.md-table-toolbar form > input {
  width: 100%;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.87);
}

md-toolbar.md-table-toolbar form > input:focus {
  outline: unset;
}

md-toolbar.md-table-toolbar form {
  margin-left: 16px;
}