<div layout="column">
  <md-content laout="column" flex>
    <md-card>
      <md-toolbar
        class="md-table-toolbar md-default"
        ng-hide="vm.selected.length"
      >
        <div class="md-toolbar-tools" ng-if="!vm.isFilterEnabled">
          <span>List of Accounts</span>
          <div flex></div>
          <md-button class="md-icon-button" ng-click="vm.refreshAccounts()">
            <md-icon>refresh</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="vm.toggleFilter()">
            <md-icon>filter_list</md-icon>
          </md-button>
          <md-button class="md-icon-button" ng-click="vm.addAccount($event)">
            <md-icon>person_add</md-icon>
          </md-button>
        </div>

        <div class="md-toolbar-tools" ng-if="vm.isFilterEnabled">
          <md-icon class="material-icons">search</md-icon>
          <form name="filterForm" flex ng-submit="vm.filterAccounts(filterForm.$valid)">
            <input
              ng-model="vm.query.search"
              placeholder="Search"
              aria-label="Search"
              name="search"
              required
              ng-blur="vm.filterAccounts(filterForm.$valid)"
            />
          </form>
          <md-button
            class="md-icon-button"
            aria-label="close"
            ng-click="vm.toggleFilter()"
          >
            <md-icon class="material-icons">close</md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <md-toolbar
        class="md-table-toolbar alternate"
        ng-show="vm.selected.length"
      >
        <div class="md-toolbar-tools">
          <span
            >{{vm.selected.length}} {{vm.selected.length > 1 ? 'items' :
            'item'}} selected</span
          >
        </div>
      </md-toolbar>

      <md-table-container>
        <table
          md-table
          md-row-select="vm.options.rowSelection"
          multiple="{{vm.options.multiSelect}}"
          ng-model="vm.selected"
          md-progress="vm.promise"
        >
          <thead md-head md-order="vm.query.order" md-on-reorder="logOrder">
            <tr md-row>
              <th md-column md-order-by="firstname"><span>First Name</span></th>
              <th md-column md-order-by="lastname"><span>Last Name</span></th>
              <th md-column md-order-by="email"><span>Email Address</span></th>
              <th md-column md-order-by="phone"><span>Phone Number</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr
              md-row
              md-select="contact"
              md-on-select="vm.logItem"
              md-auto-select="vm.options.autoSelect"
              ng-repeat="contact in vm.contacts.data"
            >
              <td md-cell>{{contact.firstname}}</td>
              <td md-cell>{{contact.lastname}}</td>
              <td md-cell>{{contact.email}}</td>
              <td md-cell>{{contact.phone}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>

      <md-table-pagination
        md-limit="vm.query.limit"
        md-limit-options="vm.limitOptions"
        md-page="vm.query.page"
        md-total="{{vm.contacts.count}}"
        md-page-select="vm.options.pageSelect"
        md-boundary-links="vm.options.boundaryLinks"
        md-on-paginate="vm.logPagination"
      ></md-table-pagination>
    </md-card>
  </md-content>
</div>


<!-- TODO -->
<!-- ADD NEW ACCOUNT -->
<!-- DELETE -->
<!-- UPDATING -->